@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
html {
    background-color: #555;
}

*, * * {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}

#container {
    width: 90vw;
    left: 5vw;
    position: relative;
    z-index: 1;
    display: block;
    opacity: 1;
    height: 100%;
    overflow: hidden;
}

#gameOuter {
    position: relative;
    flex: 1 1 auto;
    z-index: 1;
    display: block;
    overflow: hidden;
    opacity: 0;
    border-bottom: 1vh solid #555;
    box-sizing: border-box;
}
#gameOuter.unreadMessage {
    border-color: red;
}
#gameOuter.show {
    animation: fadeInAni 2s ease-in-out;
    -webkit-animation: fadeInAni 2s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

#container canvas {
    height: inherit;
    width: inherit;
}

#infoContainer {
    width: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
}

#heartsContainer {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
    border-right: 2px solid black;
    width: 50%;
    white-space: nowrap;
}

#inventoryContainer {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
    border-left: 2px solid black;
    width: 50%;
    white-space: nowrap; 
}

.item {
    width: 8%;
    background-color: #666;
    border-radius: 50%;
    border: 2px solid #666;
    display: inline-block;
}
.item.selected {
    background-color: #999;
    border-color: #333;
}
#openInv {
    border-width: 0;
    background-color: transparent;
}

.heart {
    width: 8%;
    display: inline-block;
}

.hidden {
    opacity: 0;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#inv {
    position: fixed;
    width: 90vw;
    height: 90vh;
    background-color: red;
    z-index: 9999;
    top: 5vh;
    left: 5vw;
    display: none;
}

.visible {
    display: block !important;
}

#chat {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    padding: 2%;
}
#chat #messages {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: break-word;
}
#chat #typeArea {
    height: 10%;
}
#chat #typeArea form {
    width: 100%;
    height: 100%;
}
#chat #typeArea form input {
    width: 100%;
    height: 100%;
    font-size: 3vh;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: .4vw solid #999;
    background-color: #666;
    color: #999;
    padding-left: 2%;
    padding-right: 2%;
}
#chat #messages .message {
    width: 100%;
    height: auto;
    min-height: 2vh;
}

#chat #messages .message .from {
    color: orange;
}
#chat #messages .message .contents {
    color: darkgoldenrod;
}
#chat #messages .message .server {
    color: cornflowerblue;
}
#chat #messages .message .time {
    color: white;
    font-size: 70%;
}
#chat #messages .message .error {
    margin-top: .5%;
    margin-bottom: .5%;
    color: red;
}

#crafting {
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
    padding-top: 5%;
    padding-bottom: 5%;
}

#crafting::-webkit-scrollbar {
  width: 2vw;
}

#crafting::-webkit-scrollbar-track {
  background: #f2f2f2; 
}
 
#crafting::-webkit-scrollbar-thumb {
  background: #888; 
}

#crafting::-webkit-scrollbar-thumb:hover {
  background: #777; 
}

#inventory {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    padding-top: 10%;
}

.craftRow {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}
.craftItem {
    display: inline-block;
    width: 14vmin;
    height: 16vmin;
    background-color: #999;
    border: .5vmin solid darkred;
    transition: transform .1s;
    margin-left: 1%;
    margin-right: 1%;
}
.craftItem > img {
    width: 14vmin;
    height: 14vmin;
}
.craftItem > span {
    font-size: 1.6vmin;
    display: block;
}
.craftItem:hover {
    transform: scale(1.2);
}
.craftReturn {
    float: right;
    border-color: green;
    cursor: pointer;
}

.invRow {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.invRow.hotbarRow {
    background-color: #777;
}

.invItem {
    display: inline-block;
    width: 14vmin;
    height: 16vmin;
    background-color: #999;
    border: .5vmin solid #333;
    transition: transform .1s;
    cursor: pointer;
}
.invItem:hover {
    transform: scale(1.2);
}
.invItem#deleteItem {
    border-color: darkred;
}
.invItem.selected {
    border-color: green;
}
.invItem > img {
    width: 14vmin;
    height: 14vmin;
}
.invItem > span {
    font-size: 1.6vmin;
    display: block;
}


.hide {
    animation: hideAni .3s linear;
    animation-fill-mode: both;
    -webkit-animation: hideAni .3s linear;
    -webkit-animation-fill-mode: both;
}

.show {
    animation: showAni .3s linear;
    animation-fill-mode: both;
    -webkit-animation: showAni .3s linear;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideAni {
    0% {
        height: 100%;
    }
    50% {
        height: 0%;
    }
    100% {
        height: 0%;
        padding: 0;
    }
}
@keyframes showAni {
    0% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 100%;
    }
}


#loadingBox {
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: fixed;
    z-index: 100;
    line-height: 100vh;
    background-color: #555;
}
#loadingMessage {
    position: relative;
    text-align: center;
    font-size: 8vmin;
    padding: 3vmin;
}
#loadingMessage.hidden {
    display: none;
}

.loadingIcon {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    width: 2vmin;
    height: 2vmin;
    background-color: red;
    animation: loadingAni 5s cubic-bezier(.52,1.18,.5,-0.22) infinite;
    -webkit-animation: loadingAni 5s cubic-bezier(.52,1.18,.5,-0.22) infinite;
    border-radius: 15%;
    transition: opacity .5s;
}
.loadingIcon.complete {
    opacity: 0;
}
.loadingIcon:nth-child(1) {
    animation-delay: 0.02s;
}
.loadingIcon:nth-child(2) {
    animation-delay: 0.04s; 
}
.loadingIcon:nth-child(3) {
    animation-delay: 0.06s; 
}
.loadingIcon:nth-child(4) {
    animation-delay: 0.08s; 
}
.loadingIcon:nth-child(5) {
    animation-delay: 0.10s; 
}
.loadingIcon:nth-child(6) {
    animation-delay: 0.12s; 
}
.loadingIcon:nth-child(7) {
    animation-delay: 0.14s; 
}
.loadingIcon:nth-child(8) {
    animation-delay: 0.16s; 
}
.loadingIcon:nth-child(9) {
    animation-delay: 0.18s; 
}
.loadingIcon:nth-child(10) {
    animation-delay: 0.20s; 
}
.loadingIcon:nth-child(11) {
    animation-delay: 0.22s; 
}
.loadingIcon:nth-child(12) {
    animation-delay: 0.24s; 
}
.loadingIcon:nth-child(13) {
    animation-delay: 0.26s; 
}
.loadingIcon:nth-child(14) {
    animation-delay: 0.28s; 
}
.loadingIcon:nth-child(15) {
    animation-delay: 0.30s; 
}
.loadingIcon:nth-child(16) {
    animation-delay: 0.32s; 
}

.completeIcon {
    position: absolute;
    z-index: 3;
    width: 2vmin;
    height: 2vmin;
    background-color: green;
    transition: opacity .5s;
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.completeIcon.completeIcon1 {
    left: 0;
    top: 0;
}
.completeIcon.completeIcon2 {
    right: 0;
    top: 0;
}
.completeIcon.completeIcon3 {
    right: 0;
    bottom: 0;
}
.completeIcon.completeIcon4 {
    left: 0;
    bottom: 0;
}
.completeIcon.completeIcon1.complete, .completeIcon.completeIcon3.complete {
    animation: widthAni 3s ease-in-out;
    -webkit-animation: widthAni 3s ease-in-out;
}
.completeIcon.completeIcon2.complete, .completeIcon.completeIcon4.complete {
    animation: heightAni 3s ease-in-out;
    -webkit-animation: heightAni 3s ease-in-out;
}

#loadingBox {
    transition: opacity 2s;
}
#loadingBox.complete {
    opacity: 0;
}
#loadingBox.hide {
    display: none;
}

@keyframes widthAni {
    0% {
        width: 2vmin;
        opacity: 1;
    }
    24% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}
@keyframes heightAni {
    0% {
        height: 2vmin;
        opacity: 1;
    }
    24% {
        height: 100%;
        opacity: 1;
    }
    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes loadingAni {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 100%;
    }
    50% {
        top: 100%;
        left: 100%;
    }
    75% {
        top: 100%;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}