@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
body,html {
    background-color: #555;
    font-family: sans-serif;
}
*, * * {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}
#header {
    width: 100vw;
    height: 20vh;
    border-bottom: 1vw solid black;
    background-color: rgb(221,145,47);
    color: white;
    text-align: center;
}
.headerTitle {
    font-size: 4vh;
    margin-left: 0;
    margin-right: 0;
}

.leftContent {
    width: 100%;
    background-color: #888;
    display: inline-block;
    height: 50vh;
    box-sizing: border-box;
    border-bottom: .5vh solid #555;
}
.rightContent {
    width: 100%;
    background-color: #888;
    display: inline-block;
    height: 50vh;
    box-sizing: border-box;
    border-top: .5vh solid #555;
}
@media only screen and (min-width: 700px) {
    .leftContent {
        width: 50%;
        border-right: .5vw solid #555;
        border-bottom: 0 solid #555;
    }
    .rightContent {
        width: 50%;
        border-left: .5vw solid #555;
        border-top: 0 solid #555;
    }
}

.form {
    text-align: left;
    width: 60%;
}

table {
    width: 100%;
}

td {
    width: 50%;
}

.leftCol {
    text-align: right;
}
.rightCol {
    text-align: left;
}

input[type='text'],input[type='password'] {
    width: 100%;
}
input[type='submit'] {
    width: 35%;
}

#help {
    border: .4vw solid black;
    display: inline-block;
    padding: 1%;
    background-color: rgb(221,145,47);
    transition: all .2s;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
#help:hover {
    background-color: rgb(111,73,24);
    transform: scale(1.2);
    color: white;
    border-color: white;
}